body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto !important;
	margin-bottom: 2% !important;
}

h1 {
	font-size: 2em !important;
	margin: 0 !important;
}

h2 {
	font-size: 1.5em !important;
}

h3 { font-size: 1.17em !important; }

h4 { font-size: 1.33em !important; }

h5 { font-size: 0.83em !important; }

.tabs .tab a { color: #000000 !important; }
.tab a.active { background-color:#DCDCDC !important; }
.tabs .tab a:hover { background-color: #DCDCDC !important; }
.tabs .indicator{ background-color:#000000 !important; }

.no_border tr,
.no_border th,
.no_border td {
    border: none !important;
    padding: 0 !important;
}

.custom_table tr,
.custom_table th,
.custom_table td {
    border: none !important;
    padding: 5px !important;
}

.history {
	width: 30%;
}

.analysis-options {
	font-weight: bold;
}

.analysis-content {
	margin-left: 45px;
}

.card {
	padding: 10px !important;
	padding-top: -40px !important;
}

.page-footer {
	height: 60px !important;
}

#welcome {
	display: flex;
}

#file_submission {
	width: 45%;
}

#about_freki {
	float: right;
	padding-right: 0;
}

#about_logo {
	float: right;
	width: 20%;
	height: 100%;
	align-items: center;
}

#strings_txt {
	font-family: "Courier New";
	background-color: #F7F7F7;
	color: #000000;
	height: 100% !important;
	overflow-y: scroll;
	white-space: pre;
	padding: 5px;
	resize: none;
	border: none;
}

#not_found_msg {
	color: #FF1212;
}