<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ data['file_name'] }} - Project Freki</title>
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='imgs/logo_dark.svg') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="/" class="brand-logo">
                    <i><img src="{{ url_for('static', filename='imgs/logo_light.svg') }}" width="100%" height="100%"/></i>
                    Project Freki
                </a>
            </div>
        </nav>

        <main class="container">
            <div class="card">
                <div class="row">
                    <h1>{{ data['file_name'] }}</h1>
                    <br/>
                    <b>Mime type:</b> {{ data['basic_information']['mime_type'] }}<br/>
                    <b>Magic:</b> {{ data['basic_information']['magic'] }}<br/>
                    <b>Size:</b> {{ data['basic_information']['size'] }}<br/>
                </div>
                <hr/>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs analysis-options">
                            <li class="tab col s3">
                                <a class="active"href="#general">General</a>
                            </li>
                            <li class="tab col s3">
                                <a href="#detection">Detection</a>
                            </li>
                            {% if data['basic_information']['mime_type'] == 'application/x-dosexec' %}
                                <li class="tab col s3">
                                    <a href="#sa">Static Analysis</a>
                                </li>
                            {% else %}
                                <li class="tab disabled col s3">
                                    <a href="#sa">Static Analysis</a>
                                </li>
                            {% endif %}
                            <li class="tab col s3">
                                <a href="#ml">Machine learning</a>
                            </li>
                        </ul>
                    </div>

                    <div id="general" class="col s12">
                        <div class="section-title"><h2>➤ Hashes</h2></div>
                        <div class="analysis-content">
                            <table class="highlight custom_table">
                                {% for key in data['signatures'] %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ data['signatures'][key] }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>

                        <h2>➤ History</h2>
                        <div class="analysis-content history">
                            <table class="no_border">
                                <tr>
                                    <th>First submission:</th>
                                    <td>{{ history[0] }}</td>
                                </tr>
                                <tr>
                                    <th>Last submission:</th>
                                    <td>{{ history[1] }}</td>
                                </tr>
                            </table>
                        </div>

                        <h2>➤ Names</h2>
                        <div class="analysis-content">
                            {% for n in names %}
                                {{ n[0] }}<br/>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="detection" class="col s12">
                        {% if data['virustotal_detection']['verbose_msg'] == 'Scan finished, information embedded' %}
                            <h2>➤ VirusTotal results</h2>
                            <b>Positives:</b> {{ data['virustotal_detection']['positives'] }}<br/>
                            <b>Scan date:</b> {{ data['virustotal_detection']['scan_date'] }}
                            <p><b>Permanent link:</b> <a target="_blank" href="{{ data['virustotal_detection']['permalink'] }}">{{ data['virustotal_detection']['permalink'] }}</a></p>

                            <table class="highlight">
                                <thead>
                                    <tr>
                                        <th>AV</th>
                                        <th>Malicious</th>
                                        <th>Result</th>
                                        <th>Version</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key in data['virustotal_detection']['scans'] %}
                                    <tr>
                                        <td>{{ key }}</td>

                                        {% if data['virustotal_detection']['scans'][key]['detected'] == True %}
                                            <td><b style="color: red;">{{ data['virustotal_detection']['scans'][key]['detected'] }}</b></td>
                                            <td><b style="color: red;">{{ data['virustotal_detection']['scans'][key]['result'] }}</b></td>
                                        {% else %}
                                            <td>{{ data['virustotal_detection']['scans'][key]['detected'] }}</td>
                                            <td>{{ data['virustotal_detection']['scans'][key]['result'] }}</td>
                                        {% endif %}
                                        <td>{{ data['virustotal_detection']['scans'][key]['version'] }}</td>
                                        <td>{{ data['virustotal_detection']['scans'][key]['update'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <center>
                                <br/>
                                {% if data['virustotal_detection']['verbose_msg'] == 'Invalid key!' %}
                                    <h2>Please use a valid VirusTotal API key.</h2>
                                {% else %}
                                    <h2>Waiting for VirusTotal response... You might want to reload this page.</h2>
                                    <p>4 requests per minute.</p>
                                {% endif %}
                            </center>
                        {% endif %}
                    </div>

                    <div id="sa" class="col s12">
                        {% block content %}
                            {% if data['basic_information']['mime_type'] == 'application/x-dosexec' %}
                            <div class="row">
                                <div class="col s6">
                                    <h2>➤ Binary</h2>
                                    <div class="analysis-content">
                                        <b>Magic</b>: {{ data['pe_info']['general']['e_magic'] }}<br/>
                                        <b>LFNEW</b>: {{ data['pe_info']['general']['e_lfnew'] }}<br/>
                                        <b>EXE</b>: {{ data['pe_info']['general']['is_exe'] }}<br/>
                                        <b>DLL</b>: {{ data['pe_info']['general']['is_dll'] }}<br/>
                                        <b>Imphash</b>: {{ data['pe_info']['general']['imphash'] }}<br/>
                                        <b>Warnings</b>: {{ data['pe_info']['general']['warnings'] }}<br/>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <h2>➤ File header</h2>
                                    <div class="analysis-content">
                                        <b>Architecture</b>: {{ data['pe_info']['file_header']['arch'] }}<br/>
                                        <b>Compilation Timestamp</b>: {{ data['pe_info']['file_header']['time_date_stamp'] }}<br/>
                                        <b>Number of sections</b>: {{ data['pe_info']['file_header']['number_sections'] }}<br/>
                                        <b>Characteristics flags</b>: {{ data['pe_info']['file_header']['characteristics_flags'] }}<br/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s6">
                                    <h2>➤ Optional header</h2>
                                    <div class="analysis-content">
                                        <b>Magic</b>: {{ data['pe_info']['optional_header']['magic'] }}<br/>
                                        <b>Image base</b>: {{ data['pe_info']['optional_header']['image_base'] }}<br/>
                                        <b>File alignment</b>: {{ data['pe_info']['optional_header']['file_alignment'] }}<br/>
                                        <b>Size of image</b>: {{ data['pe_info']['optional_header']['size_of_image'] }}<br/>
                                        <b>DLL characteristics</b>: {{ data['pe_info']['optional_header']['dll_characteristics'] }}<br/><br/>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <h2>➤ Yara</h2>
                                    <div class="analysis-content">
                                        <b>Matches</b>:
                                        {{ ', '.join(data['yara']) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h2>➤ Sections</h2>

                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Section</th>
                                                <th>Virtual Address</th>
                                                <th>Virtual Size</th>
                                                <th>Pointer to raw data</th>
                                                <th>Characteristics</th>
                                                <th>Entropy</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for key in data['pe_info']['sections'] %}
                                            <tr>
                                                <th>{{ key }}</th>
                                                <td>{{ data['pe_info']['sections'][key]['vaddress'] }}</td>
                                                <td>{{ data['pe_info']['sections'][key]['vsize'] }}</td>
                                                <td>{{ data['pe_info']['sections'][key]['pointer_to_raw'] }}</td>
                                                <td>{{ data['pe_info']['sections'][key]['characteristics'] }}</td>
                                                <td>{{ data['pe_info']['sections'][key]['entropy'] }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h2>➤ Imports</h2>
                                    <div class="analysis-content">
                                        {% for key in data['pe_info']['imports'] %}
                                        <p onclick="showImports('{{ key }}')" style="cursor: pointer;"><b>+ {{ key }}</b></p>
                                        <div id="{{ key }}" style="display: none; margin-left: 20px;">
                                            <table style="width: 35%;">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Address</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in data['pe_info']['imports'][key] %}
                                                    <tr>
                                                        <td>{{ i['name'] }}</td>
                                                        <td>{{ i['address'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h2>➤ Capabilities</h2>
                                    <div class="analysis-content">
                                        {% for key in data['capa'] %}
                                        <p onclick="showImports('{{ key }}')" style="cursor: pointer;"><b id="expand">+ {{ key }}</b></p>
                                        <div id="{{ key }}" style="display: none; margin-left: 20px;">
                                            <table style="width: 50%;">
                                                <thead>
                                                    <tr>
                                                        <th>Namespace</th>
                                                        <th>Scope</th>
                                                        <th>Matches</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{ data['capa'][key]['namespace'] }}</td>
                                                        <td>{{ data['capa'][key]['scope'] }}</td>
                                                        <td>
                                                            {% for i in data['capa'][key]['matches'] %}
                                                                <b>{{ i }}</b><br/>
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h2>➤ Strings</h2>
                                    <div>
                                        <textarea id="strings_txt" rows="25" disabled>{% for st in data['pe_info']['strings']['all'] %}{{ st+'\n' }}{% endfor %}</textarea>

                                        <div class="col s6">
                                            <h3><b>URLs:</b></h3>
                                            <div class="analysis-content">
                                                {% for url in data['pe_info']['strings']['urls'] %}
                                                    {{ url }}<br/>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <h3><b>IPs:</b></h3>
                                            <div class="analysis-content">
                                                {% for ip in data['pe_info']['strings']['ips'] %}
                                                    {{ ip }}<br/>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <h2>➤ Data directories</h2>
                                    <div class="analysis-content">
                                            <table style="width: 65%;">
                                                <thead>
                                                    <tr>
                                                        <th>Data directory</th>
                                                        <th>Virtual Address</th>
                                                        <th>Size</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for key in data['pe_info']['optional_header']['data_dir'] %}
                                                    <tr>
                                                        <td><b>{{ key }}</b></td>
                                                        <td>{{ data['pe_info']['optional_header']['data_dir'][key]['vaddress'] }}</td>
                                                        <td>{{ data['pe_info']['optional_header']['data_dir'][key]['size'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <h4>Please submit a valid binary file for analysis.</h4>
                        {% endif %}
                        {% endblock content %}
                    </div>

                    <div id="ml" class="col s12">
                        <h4>Coming soon...</h4>
                    </div>
                </div>
            </div>
        </main>

        <footer class="page-footer grey darken-4">
            <div class="container">
                Project Freki
                <a class="grey-text text-lighten-4 right" href="mailto:cristianmsbr@gmail.com">Contact</a>
            </div>
        </footer>

        <script>
            var el = document.querySelector('.tabs');
            var instance = M.Tabs.init(el, {});

            function showImports(id) {
                var x = document.getElementById(id);
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </body>
</html>
