<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project Freki</title>
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='imgs/logo_dark.svg') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/material-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="/" class="brand-logo">
                    <i><img src="{{ url_for('static', filename='imgs/logo_light.svg') }}" width="100%" height="100%"/></i>
                    Project Freki
                </a>
            </div>
        </nav>

        <main class="container" id="content">
            <div id="welcome" class="row">
                <div id="file_submission" class="col s5 card">
                    <h1>File submission</h1>

                    <form id="sub_form" action="/scan_file" method="POST" enctype="multipart/form-data">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" name="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your file" required>
                            </div>
                        </div>
                        <div id="submit_div">
                            <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>

                <div id="about_freki" class="col s7">
                    <div class="card">
                        <img id="about_logo" src="{{ url_for('static', filename='imgs/logo_dark.svg') }}">
                        <h1>About Freki</h1>
                        <p>Freki is a self-hosted malware analysis tool. It is completly free and open source.<br/><br/>Check more at: <a target="_blank" href="https://github.com/crhenr/freki">https://github.com/crhenr/freki</a><br/>Developed with <3 by <a target="_blank" href="https://crhenr.xyz">@crhenr</a></p>
                    </div>
                </div>
            </div>

            <div class="row card">
                <h1>Latest submissions</h1>
                <form class="col s12" action="/analysis" method="GET">
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="sha1" type="text" required>
                            <label for="input_text">SHA-1</label>

                        </div>
                        <div class="input-field col">
                            <button class="btn waves-effect waves-light" type="submit">Search
                                <i class="material-icons right">search</i>
                            </button>
                        </div>
                    </div>
                    {% if not_found %}
                        <p id="not_found_msg">Sorry, that SHA-1 does not exist in our database.</p>
                    {% endif %}
                </form>

                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th>SHA1</th>
                            <th>File name</th>
                            <th>Submit date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in last_submissions %}
                        <tr>
                            <td><a href="/analysis?sha1={{ i[1] }}&name={{ i[3] }}">{{ i[1] }}</a></td>
                            <td>{{ i[3] }}</td>
                            <td>{{ i[5] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>

        <footer class="page-footer grey darken-4">
            <div class="container">
                Project Freki
                <a class="grey-text text-lighten-4 right" href="mailto:cristianmsbr@gmail.com">Contact</a>
            </div>
        </footer>

        <script>
            $(document).ready(function() {
                $("#sub_form").on("submit", function(e) {
                    document.getElementById("submit_div").innerHTML = `
                    <div class="preloader-wrapper small active" style="float: right;">
                        <div class="spinner-layer spinner-white-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>`;
                });
            });
        </script>
    </body>
</html>
